#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e6f05e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #3a86ff;
  border-radius: 4px;
}

input[type="number"]::placeholder {
  color: #888;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  width: 80%;
}

.input-group .unit {
  width: 20%;
  padding-left: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #3a86ff;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #2b6bbf;
}

.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.prediction-result {
  margin-top: 20px;
  text-align: center;
}
